* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    height: 100%;
    width: 100%;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.glavni{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.levi{
    border: 2px solid rgb(133, 38, 38);
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.zeus{
    width: 15vw;
    height: 70vh;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 90px;
}

.srednji{
    border: 2px solid rgb(23, 157, 59);
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.desni{
    border: 2px solid rgb(220, 23, 165);
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.square{
    border: 5px solid black;
    width: 59vw;
    height: 65vh;
}