* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.glavni {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.levi, .desni {
    
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.srednji {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: -130px;
}

canvas {
    display: block;
    
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
}

.gumbi{
    display: flex;
    flex-direction: row;
}

#startBtn{
    margin-right: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: large;
    color: #00ccff; 
    text-transform: uppercase;
    text-align: center;
    position: relative;
    background: linear-gradient(to top, #4a0072, #8a2be2, #4a0072);
    border: 3px solid gold;
    border-radius: 8px;

    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 
                0 0 25px rgba(255, 215, 0, 0.5) inset;
                
    cursor: pointer;
    transition: all 0.3s ease;
}

#startBtn:hover{
    box-shadow: 0 0 20px rgba(255, 215, 0, 1), 
                0 0 30px rgba(255, 215, 0, 0.7) inset;
    transform: scale(1.05);
}

#resetBtn{
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: large;
    font-family: olympus;
    color: #00ccff; 
    text-transform: uppercase;
    text-align: center;
    position: relative;
    background: linear-gradient(to top, #4a0072, #8a2be2, #4a0072);

    border: 3px solid gold;
    border-radius: 8px;

    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 
                0 0 25px rgba(255, 215, 0, 0.5) inset;
                
    cursor: pointer;
    transition: all 0.3s ease;
}

#resetBtn:hover{
    box-shadow: 0 0 20px rgba(255, 215, 0, 1), 
                0 0 30px rgba(255, 215, 0, 0.7) inset;
    transform: scale(1.05);
}

